*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h2{
    margin-bottom:5%;
}
small{
	display:block;
	padding-top:15px;
	padding-bottom:30px;
}

.red{
    color:red;
}

.header{
    display:flex;
    margin-bottom:7%;
}
.header a{
    text-decoration: none;
    text-align: center;
    display: block;
    float:left;
    color:red;
    padding: 14px 16px;
    font-size:16px;
}
.logo{
    width:65%;
}
.logo h1{
    font-size:30px;
    margin-left:5%;
    margin-top:2%;
}
#nav-menu{
    width:35%;
    margin-top:1.5%;
    margin-left:9%;
}

#top-section p{
    text-align:justify;
    margin-bottom:8%;
}
.flexible-container{
    display:flex;
    margin-bottom:180px;
}
.half-width{
    width:50%;
    padding-left:10%;
}
.half-width h1{
    font-size:35px;
    font-weight:800;
}
.half-width p{
    margin-top:2%;
}
.half-width img{
    width:90%;
}
.link-button{
    text-decoration:none;
    color:#fff;
    font-size:15px;
    font-weight:700;
    background-image: linear-gradient(to right,#ff0000,#ff4500);
    padding:10px 30px;
    border-radius:20px;
}
.mid-section{
    background-image:url("../images/mid-bg.jpg");
    background-repeat:no-repeat;
}
.mid-section .half-width{
    padding-right:10%;
	margin-top:5%;
}
.mid-section p{
    text-align:justify;
    margin-bottom:8%;
}

.half-width .mid-image{
    width:60%;
}
#about-me{
    width:100%;
    margin-top:5%;
}
.center{
    width:40%;
    text-align:center;
    margin:20px auto;
}
.center h2{
    color: #ff0000;
}
.center h3{
    color:#fff;
}

.recepie{
    box-shadow:10px 10px 40px #808080;
	border-radius:25px;
    width:40%;
    margin-right:5%;
    margin-left:5%;
    padding-left:20px;
    padding-right:20px;
}
.recepie-image img{
	width:100%;
	border-radius:25px;
	margin:6% 0%;
}
footer{
	background-color:#000;
	width:100%;
}

footer p{
    text-align:center;
	color:#fff;
}
footer small{
	color:#fff;
}
